@import './scss/variables';
@import './scss/resets';
@import './scss/input';
@import './scss/gainers';
@import './scss/topbar';

body {
  width: 100%;
  background-color: $bg-color;
}

.app-container {
  h1 {
    color: $font-color;
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .main {
    h5 {
      color: $font-color;
      padding: 5px;
      text-transform: uppercase;
      background-color: $list-bg-color;
    }

    .stock-category {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .name {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: $font-color;

        div {
          order: 1;

          p {
            font-size: 0.9rem;
            margin-bottom: 3px;
          }
        }

        .link {
          order: 2;
          color: $font-color;
          cursor: 'pointer';
        }

        &:nth-child(4n-1) {
          background-color: $list-bg-color-2;
        }

        &:nth-child(4n-2) {
          background-color: $list-bg-color;
        }
      }
    }
  }
}
