@import './scss/variables';
@import './scss/resets';

body {
  width: 100%;
  background-color: $bg-color;
}

.app-container {
  h1 {
    color: $font-color;
    margin-top: 2rem;
    text-align: center;
  }

  .stock-category {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .name {
      display: flex;
      border: 1px solid red;

      div {
        display: flex;
      }
    }
  }
}
