@import './scss/variables';
@import './scss/resets';
@import './scss/input';
@import './scss/gainers';
@import './scss/topbar';
@import './scss/profile';

body {
  width: 100%;
  background-color: $list-bg-color;
}

.app-container {
  h1 {
    color: $font-color;
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .main {
    h5 {
      color: $font-color;
      padding: 5px;
      text-transform: uppercase;
      background-color: $list-bg-color;
    }

    .stock-category {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .name {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: $font-color;

        div {
          order: 1;

          p {
            font-size: 0.9rem;
            margin-bottom: 3px;
          }
        }

        .link {
          order: 2;
          color: $font-color;
          cursor: pointer;
        }

        &:nth-child(4n-1) {
          background-color: $list-bg-color-2;
        }

        &:nth-child(4n-2) {
          background-color: $list-bg-color;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    width: 85%;
    margin: 0 auto;

    .app-container {
      .main {
        .stock-category {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          gap: 1rem;
          margin: 4px;
          padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          .name {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            &:hover {
              background-color: hsl(0, 0%, 100%);
              color: $list-bg-color;
              cursor: pointer;
              transform: scaleY(1.1);
              .link {
                color: $list-bg-color;
              }
            }
          }
        }
      }
    }
  }
}
