@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

$bg-color: #f65093;
$font-color: #fdedf4;
$list-bg-color: #d04378;
$font: 'Lato', sans-serif;
